// As RGBa codes */
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);

$color-grey-light-1: rgba(228, 228, 223, 1);
$color-grey-light-2: rgba(222, 217, 217, 1);

$color-grey-dark-1: rgba(146, 148, 150, 1);
$color-grey-dark-2: rgba(119, 119, 119, 1);
$color-grey-dark-3: rgba(51, 51, 51, 1);

$color-red-light: rgba(252, 9, 32, 1);
$color-red-dark: rgba(84, 1, 9, 1);

$color-yellow-light: rgba(245, 254, 9, 1);
$color-yellow-dark: rgba(83, 87, 1, 1);

$color-blue-light: rgba(24, 120, 220, 1);
$color-blue-dark: rgba(5, 30, 57, 1);

$font-family: "Nunito", sans-serif;
