<div class="datacard">
    <h2 class="headline-6 datacard__title">Current cases by country</h2>
    <div *ngIf="iniciar" class="alert alert-primary animated fadeIn">
        <h3>Get Started</h3>
        <p>{{ mensajeError }}</p>
    </div>
    <div *ngIf="error" class="alert alert-danger animated fadeIn">
        <h3>Error</h3>
        <p>{{ mensajeError }}</p>
    </div>
    <div *ngIf="warning" class="alert alert-warning animated fadeIn">
        <h3>Sorry</h3>
        <p>{{ mensajeError }}</p>
    </div>
    <i *ngIf="loading" class="fas" [ngClass]="{ 'fa-sync fa-spin fa-2x': loading }"></i>
    <ul *ngIf="showCountry && !loading" class="datacard__items">
        <li class="datacard__item datacard__item--country">{{ confirmedCases.Country }}</li>
        <li class="datacard__item datacard__item--date">{{ confirmedCases.Date | date: "MMM d, y, h:mm:ss a" }}</li>
        <li class="datacard__item datacard__item--confirmed">Confirmed: {{ confirmedCases.Confirmed }}</li>
    </ul>
</div>
