<div class="dataCountry">
    <div class="countryList">
        <div class="countryList__head"><h2 class="countryList__head--title">List of Countries</h2></div>
        <div class="countryList__countries">
            <ul class="dataList">
                <li *ngFor="let country of countries" class="dataList__item">
                    <a [routerLink]="['/country', country.Slug]" class="dataList__button">
                        {{ country.Country }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="datacontainer">
        <router-outlet></router-outlet>
    </div>
</div>
